@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");
* {
  box-sizing: border-box;
  font-family: "Courier", sans-serif;
}
html {
  scroll-behavior: smooth;
}
i {
  height: 4em;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  overflow: scroll;
  padding: 1 5 9 11;
  margin: 5px 0px 0px 0px;
  background: #272727;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1em;
  grid-gap: 1em;
  z-index: 1000;
}
#logo {
  margin: 0.25em 0 0 2em;
  height: 2em;
  width: 2em;
  background: #363636;
  border-radius: 9px;
}
#logoimg {
  height: 2em;
  border-radius: 9px;
}
.bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: end;
}
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background: none;
  scroll-behavior: smooth;
}
.link {
  padding: 0.5em;
  background: #363636;
  border-radius: 9px;
  height: 2em;
  margin: 0.25em 0 0 0;
  font-weight: 900;
  color: lightgrey;
}
#move {
  height: 500%;
  width: 100%;
  scroll-behavior: smooth;
  pointer-events: none;
}
#starter {
  position: relative;
  top: 0;
  width: 100%;
  height: 5em;
}
.title {
  position: relative;
  top: 0em;
  grid-column: 1/-1;
  width: 100%;
  height: 2em;
  padding: 0.4em 0 0 30%;
  color: white;
  background: black;
}
.show {
  position: relative;
  top: 0em;
  grid-column: 1/-1;
  width: 100%;
  height: calc(20% - 1.08em);
  padding: 2em;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
}
#dev-inf {
  position: absolute;
  width: 20%;
  z-index: 1001;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  display: none;
}
