@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");
* {
  box-sizing: border-box;
  font-family: "Courier", sans-serif;
}
html {
  scroll-behavior: smooth;
}
i {
  height: 4em;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgb(26, 0, 48);
}
#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5em;
  overflow: hidden;
  padding: 1 5 9 11;
  margin: 0px 0px 0px 0px;
  background: rgb(118, 28, 182);
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1em;
  grid-gap: 1em;
  z-index: 1000;
  -webkit-box-shadow: 0px 4px 18px 0px #8e4dff;
  box-shadow: 0px 4px 18px 0px #8e4dff;
}
#logo {
  margin: 0.25em 0 0 2em;
  height: 4em;
  width: 6em;
  background: rgb(118, 28, 182);
  border-radius: 9px;
}
#logoimg {
  height: 4em;
  border-radius: 9px;
}
.bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: end;
}
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background: none;
  scroll-behavior: smooth;
}
.link {
  padding: 0.5em;
  color: rgb(118, 28, 182);
  border-radius: 9px;
  height: 2em;
  margin: 1.5em 0 0 0;
  font-weight: 900;
  background: lightgrey;
  text-decoration: none;
}
#move {
  height: 500%;
  width: 100%;
  scroll-behavior: smooth;
  pointer-events: none;
  overflow: hidden;
}
#starter {
  position: relative;
  top: 0;
  width: 100%;
  height: 5em;
}
.title {
  position: relative;
  top: 0em;
  grid-column: 1/-1;
  width: 100%;
  height: 2em;
  padding: 0.4em 0 0 30%;
  color: white;
  background: black;
}

.show {
  position: relative;
  top: 0em;
  grid-column: 1/-1;
  width: 100%;
  height: calc(20% - 1.08em);
  padding: 2em;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1em 2fr 2fr 2fr 1em;
  grid-gap: 1em;
}
#col1 {
  grid-column: 2;
  text-align: center;
}
#col2 {
  grid-column: 3;
  text-align: center;
}
#col3 {
  grid-column: 4;
  text-align: center;
}
#intro_txt {
  text-align: left;
  font-size: 1.6em;
}
#mintclock {
  color: rgb(118, 28, 182);
}
#teambox {
  display: grid;
  grid-template-columns: 190px 1fr;
  grid-gap: 1em;
}
#teamtab {
  background: white;
  height: 190px;
  border-radius: 50%;
  margin-top: 1em;
  grid-column: 1;
}
#teamtxt {
  height: 190px;
  width: auto;
  grid-column: 2;
}
#sloganbox {
  grid-column: 2/5;
  font-size: 9em;
  color: white;
  background: rgb(118, 28, 182);
  text-align: center;
  border-radius: 9px;
  padding-top: 0.2em;
  height: 200px;
}

#dev-inf {
  position: absolute;
  width: 20%;
  z-index: 1001;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  display: none;
}
