body {
  width: 420px;
  height: 595px;
  border-radius: 9px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: black;
}
.stage {
  width: 415px;
  height: 100%;
  margin: 1px;
  border-radius: 3px;
  border: chocolate 2px solid;
  display: "grid";
  grid-template-rows: 24px 100px 1fr;
  grid-gap: 4px;
}
#menu {
  width: 100%;
  background: coral;
  display: "grid";
  grid-template-columns: 1fr 1fr 1fr 24px 24px;
  grid-gap: 4px;
  background: white;
}
